body {
    background-color: aquamarine;
}

h1 {
    color: red;
}

.orange {
    color: orange;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

.white {
    color: white;
}

.brown {
    color: brown;
}

.yellow {
    color: yellow;
}

.gif_proportions {
    max-width: 50px;
}

.img_proportions {
    max-height: 200px;
}